@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

/* Navbar section */
nav {
    padding: 5px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

nav>p {
    font-size: 36px;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-weight: bold;
}

nav>div {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 47px;
    align-items: center;
    border-radius: 39px;
    padding: 3px 8px;
}

nav>span {
    display: none;
}

.home-btn {
    background-color: #E6533C;
    padding: 5px 15px;
    border-radius: 46px;
}

/* Banner section */
.banner-container {
    min-height: 400px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.left-banner {
    min-height: 200px;
    width: 50%;
}

.left-banner>h1 {
    font-size: 78px;
}

.left-banner>p {
    margin: 28px 0;
}

.btn-container>button {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    color: #FFFFFF;
}

.right-banner {
    min-height: 200px;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;

}

.right-banner>img {
    width: 52%;
}

.tooltip {
    position: absolute;
    width: 193px;
    height: 98px;
    padding-left: 24px;
    padding-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    right: -15%;
    top: 20%;
}

.tooltip-2 {
    position: absolute;
    width: 215px;
    height: 98px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    left: 23%;
    top: 70%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.ball {
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}

/* Habit section */
.habit {
    max-width: 1200px;
    margin: 100px auto;
    min-height: 400px;
}

.habit-text {
    text-align: center;
    width: 45%;
    margin: 0 auto;
}

.habit-text h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 14px;
}

.habit-text p {
    font-size: 0.80rem;
    font-weight: 200;
}

.habit-image {
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
}

.habit-image img {
    border-radius: 50%;
    margin-bottom: 30px;
}

.habit-image-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.habit-image-card h3 {
    font-size: 1.20rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.habit-image-card p {
    font-size: 0.85rem;
    font-weight: 200;
}

.habit-image-text {
    width: 230px;
}

/* run extra section */
.run-extra {
    max-width: 1200px;
    margin: 100px auto;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    gap: 165px;
    padding: 40px;
    background-color: #222222;
    border-radius: 18px;
}

.run-text {
    width: 34%;
}

.run-text h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 14px;
}

.run-text p {
    font-size: 0.80rem;
    font-weight: 200;
    margin-bottom: 34px;
}

.run-text>button {
    padding: 16px 72px;
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 42px;
    border: none;
}

.run-image {
    width: 40%;
}

.run-image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* Training section */
.training-exercise {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 400px;
}

.taining-text {
    margin-bottom: 58px;
    width: 630px;
}

.taining-text h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 14px;
}

.taining-text p {
    font-size: 0.90rem;
    font-weight: 200;
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
}

.grid-container img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.box-2 {
    grid-column: 2/span 2;
}

.grid-container>div {
    position: relative;
}

.grid-container>div>p {
    position: absolute;
    z-index: 50;
    top: 80%;
    left: 10%;
}

.box-4 {
    grid-column: 1/3;
}

/* Responsive code */

@media screen and (max-width:500px) {
    .manu-container {
        display: none;
    }

    nav>span {
        margin-right: 10px;
        display: block;
    }

    .banner-container {
        flex-direction: column;
    }

    .left-banner,
    .right-banner {
        width: 100%;
    }

    .right-banner>img {
        width: 100%;
    }

    .tooltip {
        right: 5%;
        top: 25%;
    }

    .taining-text {
        margin-bottom: 58px;
        width: 100vw;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .box-2 {
        grid-column: auto;
    }

    .box-4 {
        grid-column: auto;
    }

    .box-3,
    .box-6 {
        display: none;
    }

    .habit-text {
        width: 90%;
    }

    .habit-image {
        grid-template-columns: repeat(1, 1fr);

    }

    .run-extra {
        flex-direction: column;
        margin: 20px;
    }

    .run-text {
        width: 100%;
    }

    .run-image {
        width: 100%;
    }

    .run-image img {
        width: 100%;
    }
}