@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

/* Navbar section */
nav {
    padding: 5px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

nav>p {
    font-size: 36px;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-weight: bold;
}

nav>div {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 47px;
    align-items: center;
    border-radius: 39px;
    padding: 3px 8px;
}

.home-btn {
    background-color: #E6533C;
    padding: 5px 15px;
    border-radius: 46px;
}